<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Profesori</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Adaugă profesor</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Nume</th>
            <th>Departament</th>
            <th>Șterge</th>
            <th>Modifică</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let professor of professors">
                <td title="{{professor.name}}">
                    <a [routerLink]="['/SecretaryViewProfessors', professor.id, 'ProfessorCoordinatedProjects']" class="professor-link">
                        {{ professor.name }}
                     </a>
                </td>
                <td title="{{professor.department}}">
                    {{professor.department}}
                </td>
                <td> 
                    <a [routerLink]="['/Department', professor.id]" class="details-link">ȘTERGE</a>
                </td>
                <td>
                    <a [routerLink]="['/Department', professor.id]" class="details-link">MODIFICĂ</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>