<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Professors</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Add Professor</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let professor of professors">
                <td title="{{professor.name}}">
                    {{ professor.name }}
                </td>
                <td title="{{professor.department}}">
                    {{professor.department}}
                </td>
                <td> 
                    <a [routerLink]="['/Department', professor.id]" class="details-link">DELETE</a>
                </td>
                <td>
                    <a [routerLink]="['/Department', professor.id]" class="details-link">MODIFY</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>