<app-header></app-header>
<div class="container">
    <div class="form-card">
        <h1>Idee nouă de proiect</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Titlu proiect:</label>
                <input type="text" [(ngModel)]="formData.projectTitle" name="inputOne" />
            </div>
            <div class="form-group">
                <label>Descriere:</label>
                <input type="text" [(ngModel)]="formData.projectDescription" name="inputTwo" />
            </div>
            <div class="form-group">
                <label for="alternativeSelect">Nivel educație:</label>
                <select id="alternativeSelect" [(ngModel)]="formData.LevelOfEducation" name="altSelect">
                    <option value="Licență">Licență</option>
                    <option value="Master">Master</option>
                </select>
            </div>
            <!-- ❗ Warning message -->
            <p *ngIf="showWarning" class="warning-message">
                !! Te rog completează toate câmpurile !!
            </p>
            <!-- Submit Button -->
            <button type="submit">Trimite</button>
        </form>
    </div>
</div>
<app-footer></app-footer>