<app-header></app-header>
<div class="container">
    <div class="form-card">
        <h1>New project idea</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Project title:</label>
                <input type="text" [(ngModel)]="formData.inputOne" name="inputOne" />
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" [(ngModel)]="formData.inputTwo" name="inputTwo" />
            </div>
            <div class="form-group">
                <label for="alternativeSelect">Level of Education:</label>
                <select id="alternativeSelect" [(ngModel)]="formData.altSelect" name="altSelect">
                    <option value="alt1">Bachelor Degree</option>
                    <option value="alt2">Master Degree</option>
                </select>
            </div>
            <!-- ❗ Warning message -->
            <p *ngIf="showWarning" class="warning-message">
                !! Please fill in all the fields before submitting !!
            </p>
            <!-- Submit Button -->
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>