.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* padding: 1rem; */
    /* background-color: #667eea; */
    background-color: #F5F5F5;
    height: 7.5vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur, color */
  }
  
  .logo {
    height: 55px;
    justify-content: flex-start;
  }

  .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color:#362e83;
  }