<app-header></app-header>
<div class="login-container">
  <div class="login-card">
    <div class="login-div-title">
        <h2>Autentificare</h2>
        <p>Introduceți-vă credențialele!</p>
    </div>
    <div class="login-div-form">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label>Email</label>
          <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required/>
        </div>

        <div class="form-group">
          <label>Parolă</label>
          <input [(ngModel)]="password" name="password" type="password" placeholder="Parolă" required />
        </div>
          <button type="submit" class="login-btn">Autentificare</button>
        <a class="forgot-password" [routerLink]="['/StudentRequestProjectForm']">Ți-ai uitat parola?</a>
        <a class="forgot-password" [routerLink]="['/StudentRequestProjectView']">Ți-ai uitat parola?</a>
        <a class="forgot-password" [routerLink]="['/ProfessorAddNewProjectIdea']">Ți-ai uitat parola?</a>
        <a class="forgot-password" [routerLink]="['/ProfessorViewOwnProjectIdeas']">Ți-ai uitat parola?</a>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>