<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Specializari</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Adauga Specializare</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Department ID</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specialization of specializations">
                <td title="{{specialization.name}}">
                    {{ specialization.name }}
                </td>
                <td>
                    {{specialization.departmentId}}
                </td>
                <td> 
                    <a [routerLink]="['/Specialization', specialization.id]" class="details-link">DELETE</a>
                </td>
                <td>
                    <a [routerLink]="['/Specialization', specialization.id]" class="details-link">MODIFY</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>