<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Specializări</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Adaugă Specializare</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Nume</th>
            <th>Departament</th>
            <th>Șterge</th>
            <th>Modifică</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specialization of specializations">
                <td title="{{specialization.name}}">
                    {{ specialization.name }}
                </td>
                <td>
                    {{specialization.department}}
                </td>
                <td> 
                    <a [routerLink]="['/Specialization', specialization.id]" class="details-link">ȘTERGE</a>
                </td>
                <td>
                    <a [routerLink]="['/Specialization', specialization.id]" class="details-link">MODIFICĂ</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>