<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Students</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Add Student</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>HasProject</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td title="{{student.name}}">
                    {{ student.name }}
                </td>
                <td>
                    {{ student.hasProject}}
                </td>
                <td> 
                    <a [routerLink]="['/Student', student.id]" class="details-link">DELETE</a>
                </td>
                <td>
                    <a [routerLink]="['/Student', student.id]" class="details-link">MODIFY</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>