<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Studenți</h2>
            <a [routerLink]="['../SecretaryAddNewStudent']" class="add-btn">+ Adaugă student</a>
        </div>
        <label class="checkbox-filter">
                <input type="checkbox" [(ngModel)]="showWithoutProjectOnly" (change)="filterStudents()" />
                Afișează doar studenții fără proiect
        </label>
        <table>
        <thead>
            <tr>
            <th>Nume</th>
            <th>Proiect</th>
            <th>Status proiect</th>
            <th>Specializare</th>
            <th>Șterge</th>
            <th>Modifică</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td title="{{student.firstName}}">
                    {{ student.firstName }} {{ student.secondName }}
                </td>
                <td>
                    {{ student.projectTitle }}
                </td>
                <td>
                    {{ student.projectStatus }}
                </td>
                <td>
                    {{student.specializationName}}
                </td>
                <td> 
                    <a [routerLink]="['/Student', student.studentId]" class="details-link">ȘTERGE</a>
                </td>
                <td>
                    <a [routerLink]="['/Student', student.studentId]" class="details-link">MODIFICĂ</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>