<app-header></app-header>
<div class="view-details-container">  
  <div class="view-details-card">
    <h2 class="card-title">Detalii proiect</h2>

    <div class="card-field">
      <label>Titlu proiect</label>
      <p>{{ project.title }}</p>
    </div>
    <div class="card-field">
      <label>Descriere</label>
      <p>{{ project.description }}</p>
    </div>
    <div class="card-field">
      <label>Profesor Coordonator</label>
      <p>{{ project.professor }}</p>
    </div>

    <button (click)="goBack()">Înapoi</button>
  </div>
</div>
<app-footer></app-footer>