<app-header></app-header>
<div class="view-details-container">  
  <div class="view-details-card">
    <h2 class="card-title">Project Details</h2>

    <div class="card-field">
      <label>Project Title</label>
      <p>{{ project.title }}</p>
    </div>
    <div class="card-field">
      <label>Description</label>
      <p>{{ project.description }}</p>
    </div>
    <div class="card-field">
      <label>Professor</label>
      <p>{{ project.professor }}</p>
    </div>

    <button (click)="goBack()">Back</button>
  </div>
</div>
<app-footer></app-footer>