<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Own project ideas</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Add Project</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Title</th>
            <th>Student</th>
            <th>Status</th>
            <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
            <td>{{ project.title }}</td>
            <td>{{ project.student }}</td>
            <td [ngClass]="{
                'status-free': project.status === 'free',
                'status-taken': project.status === 'taken'
                }">{{ project.status }}
            </td>
            <td>
                <a [routerLink]="['/project', project.id]" class="details-link">View/Modify</a>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>