<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Idei proprii de proiecte</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Adaugă proiect</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Titlu</th>
            <th>Student</th>
            <!-- <th>Status</th> -->
            <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
            <td>{{ project.title }}</td>
            <td>{{ project.student?.firstName }} {{ project.student?.secondName }}</td>
            <!-- <td [ngClass]="{
                'status-free': project.status === 'liberă',
                'status-taken': project.status === 'ocupată'
                }">{{ project.status }}
            </td> -->
            <td>
                <a [routerLink]="['/ProfessorViewProjectRequest', project.id]" class="details-link">Vizualizează/Modifică</a>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>