<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Departments</h2>
            <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Add Department</a>
        </div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments">
                <td title="{{department.name}}">
                    {{ department.name }}
                </td>
                <td> 
                    <a [routerLink]="['/Department', department.id]" class="details-link">DELETE</a>
                </td>
                <td>
                    <a [routerLink]="['/Department', department.id]" class="details-link">MODIFY</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>