<app-header></app-header>    
<div class="table-wrapper">
    <div class="table-container">
        <div class="table-header">
            <h2>Departments</h2>
            <!-- <a [routerLink]="['../ProfessorAddNewProjectIdea']" class="add-btn">+ Add Department</a> -->
             <button class="add-btn" (click)="openModal()">+ Add department</button>
        </div>

        <!-- Modal -->
        <div *ngIf="showAddDepartmentModal" class="modal-overlay">
            <div class="modal-content">
                <h2>Add department</h2>
                <form #formRef="ngForm" (ngSubmit)="submitForm(formRef.value)">
                <label for="name">Name:</label>
                <input id="name" name="name" ngModel required />

                <div class="modal-actions">
                    <button type="submit">Submit</button>
                    <button type="button" (click)="closeModal()">Cancel</button>
                </div>
                </form>
            </div>
        </div>

        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments">
                <td title="{{department.name}}">
                    {{ department.name }}
                </td>
                <td> 
                    <!-- <a [routerLink]="['/Department', department.id]" class="details-link">DELETE</a> -->
                    <button class="add-btn" (click)="openDeleteDepartmentModal()">DELETE</button>
                </td>
                <td>
                    <!-- <a [routerLink]="['/Department', department.id]" class="details-link">MODIFY</a> -->
                     <button class="add-btn" (click)="openModifyDepartmentModal()">MODIFY</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>