<app-header></app-header>
<div class="table-wrapper">
  <div class="table-container">
    <h2>Proiectele studenților coordonați de profesorul <br> Incze Arpad</h2>
    <table>
      <thead>
        <tr>
          <th>Titlu</th>
          <th>Student</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.title }}</td>
          <td>{{ project.student }}</td>
          <td [ngClass]="{
            'status-accepted': project.status === 'acceptată',
            'status-pending': project.status === 'în așteptare'
          }">{{ project.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
